.root {


}

.text-area {
    -fx-control-inner-background: #2c2c2c
}

.menu-bar {
    -fx-background-color: #545454;
}

.menu-item .label {
    -fx-text-fill: #ffffff;

}

.menu {

}

.menu .label {
    -fx-text-fill: #ffffff;
}
